{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Salam Eziz</h1>
    <hr>
    <div class="row mt-3">
        {% for p in product_list %}
        <div class="col-md-3" style="border: 1px solid rgb(16, 2, 141);">
            <div class="m-3">

                <h3>{{p.title}}</h3>
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 2500; object-fit: cover;">
                <p class="mt-3">Price: <strike>TMT: {{p.marked_price}}</strike> TMT: {{p.selling_price}}</p>
                <a href="" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}